{extends file="main.html"}

{block name=footer}Przykładowa tresć stopki wpisana do szablonu głównego z szablonu kalkulatora{/block}

{block name=content}

<article id="contact" class="wrapper style4">
	<div class="container medium">
		<header>
			<h3>Witaj użytkowniku</h3>
		</header>
	</div>	
</article>

<article id="portfolio" class="wrapper style3">
	<div class="container medium">
		<header>
			<h3>Prosty kalkulator kredytowy</h3>
		</header>
		<div class="row">
			<div class="col-12">
				<form class="pure-form pure-form-stacked" action="{$conf->action_root}calcCompute" method="post">
					<legend><h3>Wprowadź dane do obliczeń miesięcznej raty kredytu</h2></legend>
			
					<label for="id_money">Kwota kredytu</label>
					<input id="id_money" type="text" placeholder="PLN" name="money" value="{$form->money}">
			
					<label for="id_years">Okres kredytowania</label>
					<input id="id_years" type="text" placeholder="Liczba lat" name="years" value="{$form->years}">
			
					<label for="id_percent">Roczne oprocentowanie</label>
					<input id="id_percent" type="text" placeholder="Procent" name="percent" value="{$form->percent}">
			
					<button type="submit">Oblicz</button>
				</form>	
			
			</div>
		</div>
	</div>

	<div>
		{if $messages->isError()}
				<h4>Wystąpiły błędy: </h4>
				<ol>
				{foreach $messages->getErrors() as $msg}
				{strip}
					<li>{$msg}</li>
				{/strip}
				{/foreach}
				</ol>
		{/if}
	
		{if $messages->isInfo()}
				<h4>Informacje: </h4>
				<ol>
				{foreach $messages->getInfos() as $inf}
				{strip}
					<li>{$inf}</li>
				{/strip}
				{/foreach}
				</ol>
		{/if}
	
		{if isset($result->result)}
			<h4>Miesięczna rata: </h4>
			<p>
				{$result->result} PLN
			</p>
		{/if}
	</div>

</article>

{/block}